<div class="container-fluid">
    <div class="row">
        <div class="header col-sm-12">
            <h4 class="text-center">{{L('home.header')}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="text-center pre-reg-description col-sm-offset-1 col-sm-10">
            <strong>{{L('home.preRegDescription')}}</strong>
        </div>
    </div>
    <div class="row">
        <div class="pre-reg-explanation col-sm-offset-1 col-sm-10">
            <span>{{L('home.preRegExplanation')}}</span>
        </div>
    </div>
    <div class="navbar navbar-default/*navbar-fixed-bottom*/">
        <div class="container-fluid">
            <div class="col-xs-offset-1 col-xs-10">
                <button ng-click="profile()" type="button" class="btn btn-primary btn-lg btn-block navbar-btn">
                    {{L('home.completeTheProfile')}}
                </button>
            </div>
        </div>
    </div>

</div>
